################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AssurantRampUp/.vs/AssurantRampUp/v15
/AssurantRampUp
